<?xml version="1.0" encoding="utf-8" ?>
<menu>
	<menuItem>
		<text>BasicCalendar</text>
		<url>BasicCalendar.aspx</url>
	</menuItem>	
	<menuItem>
		<text>BasicDataGrid</text>
		<url>basicdatagrid.aspx</url>
	</menuItem>
	<menuItem>
		<text>BasicDataList</text>
		<url>basicdatalist.aspx</url>
	</menuItem>
	<menuItem>
		<text>BasicMultiColumnTable</text>
		<url>BasicMultiColumnTable.aspx</url>
	</menuItem>
	<menuItem>
		<text>BasicRepeater</text>
		<url>BasicRepeater.aspx</url>
	</menuItem>
	<menuItem>
		<text>BasicTabControl</text>
		<url>BasicTabControl.aspx</url>
	</menuItem>
	<menuItem>
		<text>CMSBreadCrumbs</text>
		<url>CMSBreadCrumbs.aspx</url>
	</menuItem>
	<menuItem>
		<text>CMSCalendar</text>
		<url>CMSCalendar.aspx</url>
	</menuItem>
	<menuItem>
		<text>CMSDataGrid</text>
		<url>CMSDataGrid.aspx</url>
	</menuItem>
	<menuItem>
		<text>CMSDataList</text>
		<url>CMSDataList.aspx</url>
	</menuItem>
	<menuItem>
		<text>CMSDocumentComparison</text>
		<url>CMSDocumentComparison.aspx</url>
	</menuItem>
	<menuItem>
		<text>CMSListMenu</text>
		<url>CMSListMenu.aspx</url>
	</menuItem>
	<menuItem>
		<text>CMSMenu</text>
		<url>CMSMenu.aspx</url>
	</menuItem>
	<menuItem>
		<text>CMSRepeater</text>
		<url>CMSRepeater.aspx</url>
	</menuItem>
	<menuItem>
		<text>CMSSearch</text>
		<url>CMSSearch.aspx</url>
	</menuItem>
	<menuItem>
		<text>CMSSiteMap</text>
		<url>CMSSiteMap.aspx</url>
	</menuItem>
	<menuItem>
		<text>CMSTabControl</text>
		<url>CMSTabControl.aspx</url>
	</menuItem>
	<menuItem>
		<text>CMSTreeMenu</text>
		<url>CMSTreeMenu.aspx</url>
	</menuItem>
	<menuItem>
		<text>CMSViewer</text>
		<url>CMSViewer.aspx</url>
	</menuItem>
  <menuItem>
    <text>DataPager</text>
    <url>DataPager.aspx</url>
  </menuItem>
  <menuItem>
    <text>TemplateDataPager</text>
    <url>TemplatedDataPager.aspx</url>
  </menuItem>
  <menuItem>
		<text>QueryDataGrid</text>
		<url>QueryDataGrid.aspx</url>
	</menuItem>
	<menuItem>
		<text>QueryDataList</text>
		<url>QueryDataList.aspx</url>
	</menuItem>
	<menuItem>
		<text>QueryRepeater</text>
		<url>QueryRepeater.aspx</url>
	</menuItem>
</menu>
